@import './../../semantic/src/semantic.less';

@colorPrimary : #df173b;
@colorSecondary : #7c4297;

.no-opacity {
  opacity: 0;
}
.pull-right {
  float: right !important;
}
.hidden {
  display: none !important;
}

.landingpage-component {
  position: relative;
  margin-top: 20%;
}

.onboard-page {
  min-height: 250px;
}

.menu-chevron {
  position: relative;
  left: 3px;
}

.virgin-nav {
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.virgin-nav-item {
  font-size: 16px;
  width: 50%;
  display:block !important;
  padding: 0.93333333em .4em !important;
}
.virgin-nav-item:before {
  background : transparent !important;
}

.virgin-nav-item:after {
  background : transparent !important;
}

.virgin-nav-item.disabled {
  opacity: .4;
}

.virgin-nav-logo {
    opacity: .8;
    position: absolute;
    width: 61px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;


}

.initial-flight-form .field {
  margin: 30px auto;
}

//haacccck
h2 {
  font-size: 1.4rem !important;
}

label {
  display: block;
font-weight: bold;
text-align: left;
}

.selection {
  width: 100% !important;
}

button.active {
  background-color: @colorSecondary !important;
  color: #fff !important;
  &:hover {
    background-color: @colorSecondary !important;
    color: #fff !important;
  }
}


.modal-inner {
  padding-top: 12vh;
  height: 100vh;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.modal-close {
  margin: 20px auto !important;
}

body {
max-height: 100vh;
overflow: hidden;
}

.ui.selection.dropdown {
  min-width: 8em !important;
}

.preferencespage-component .column{
  padding-bottom: 15px !important;
}

.preferencespage-component .divider.header{
  margin-top: 10px !important;
}

.class-buttons .button{
  padding : .8em !important;
  min-width: 25%;
}

.text-secondary {
  color: @colorSecondary;
}

.bold {
  font-weight: bold !important;
}

.button.primary {
  background-image : linear-gradient(to right, rgba(133, 0, 255, 0.6) 0%, rgba(255, 0, 0, 0.6) 100%) !important;
  font-size : 1.2rem;
  letter-spacing: .1em;
}

.button.total-cost {
  letter-spacing: .1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background-image : linear-gradient(to right, rgba(160, 56, 255, 0.9) 0%, rgba(255, 44, 44, 0.9) 100%) !important;
  color: white;
  position: absolute !important;
  right: 2%;
  bottom: 2%;
  z-index: 2;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  opacity: .95;
}

.button.secondary {

}

.flight-header {
  font-weight: bold !important;
}

.flight-sub-header {
  margin: .4rem 0 !important
}

.flight-card .eight.wide.column {
  padding: .5em !important;
}

.flight-cards {
  height: 80vh;
  overflow: auto;
}

.ui.card.card {
  width: 95%;
}

.card.chosen {
  border: 2px solid transparent !important;
  border-image: linear-gradient(to right, rgba(133, 0, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 100%) !important;
  border-image-slice: 1 !important;
}

.bag-icon {
  position: relative;
  top: -5px;
  font-size: 1.3rem;
  left: -4px;
}

.plane.icon {
  position: relative;
  top: -4px;
  left: -6px;
}

.ui.secondary.pointing.menu {
margin: 1em !important;
}

.DayPicker:focus {
  outline: none !important;
}

.small-padding {
  padding : .5em !important;
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-name: pulse;
}

.rc-drawer-sidebar  {
  z-index : 3 !important;
  background : #fff;
}

.rc-drawer-sidebar .main-container {
  padding: 2em;

}

.preferencespage-component .column {
  margin-bottom: 10px !important;
}
